.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
  border: 1px solid gainsboro;
}
.card img {
  margin-bottom: 20px;
  
}

.card-img {
  width:100%;
}
.card-bottom-section {
  margin-top: auto;
  align-self: flex-start;
  padding: 10px 10px 20px 10px;
}

.card-house {
  padding: 10px;
  flex: 1 1 400px;
}

.button {
  color: #11998e;
  text-align: center;
  padding: 0.625em 1.25em;
  border: 1px solid #11998e;
  border-radius: 0.35em;
  cursor: pointer;
}

.button:hover {
  color: #30dc81;
  border: 1px solid #30dc81;
}

.icon-tv {
  position: absolute;
  right: -15px;
  top: -10px;
  font-size: 40px;
  color: gainsboro;
}

.icon-tv:hover {
  color: #38ef7d;
}
.active {
  color: #11998e;
}

@media (max-width: 500px){
  .card-img {
    height:fit-content;
  }
}