/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}
body {
  font-family: 'Varela Round', sans-serif;
  line-height: 1.6;
  color: #3a3a3a;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  font-size: 0.95em;
  margin: 0.4em 0 1em 0;
}
h2,
h3,
a {
  color: #093a58;
}
h2,
h3 {
  margin: 0 0 0.8em 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
